{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Punk @ Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{%url 'band_list'%}">Bands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'artist_list' %}">Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'instrument_list' %}">Instruments</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Additions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'band_add' %}">Add a Band</a>
          <a class="dropdown-item" href="{% url 'artist_add' %}">Add an Artist</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'album_add' %}">Add an Album</a>
          <a class="dropdown-item" href="{% url 'instrument_add' %}">Add an Instrument</a>
        </div>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <p class="nav-link disabled" tabindex="-1" aria-disabled="true">Angie Hollingworth (S324155)</p>
    </form>

  </div>
</nav>

{% endblock navbar %}
