{% extends 'base.html' %}

{% block title %}
  <title>{{song.song_title}}</title>
{% endblock title %}

{% block heading %}
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Deleting Song: {{song.song_title}}!</h1>
        <h3 class="display-7">{{song.album.album_name}}</h3>
        <p class="card-text"><small class="text-muted">
          {{song.album.band}} | Released. {{song.album.release_date}}</small></p>
      </div>
    </div>
  </div>
{% endblock heading %}


{% block body %}
  <div class="container">
    <div class="col">
      <div class="row">
        <div class="col-sm">
          <form action="{% url 'song_delete' song.id %}" method ="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" >Delete Song</button>
          </form>
          <hr>
          <form action="{% url 'album_view' song.album.id %}">
            <button class="btn btn-success" type="submit" >Keep the song</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <hr>
    </div>

    <div class="col">
      <h3 class="display-7">All Songs on '{{song.album.album_name}}'</h3>
        <ul>
          {% for song in song.album.song_set.all %}
            <li>{{song.song_title}}</li>
          {% endfor %}
        </ul>
    </div>

    <div class="col">
      <h3 class="display-7">Musicians on the Album</h3>
      {% for artist in song.album.musician.all %}
        <strong>{{artist}}</strong><br>
        <ul>
          {% for skills in artist.instrument.all %}
            <li>{{skills}}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

  </div>
{% endblock body %}
