{% extends 'base.html' %}

{% block title %}
  <title>{{muso.full_name}}</title>
{% endblock title %}

{% block heading %}
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{muso.full_name}}</h1>
        <p class="lead">
          {% for gigs in muso.band.all %}
            {% if not forloop.first %}, {% endif %}
            {{gigs}}
          {% endfor %}
       </p>
      </div>
    </div>
  </div>
{% endblock heading %}


{% block body %}
  <div class="container">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <h3 class="display-7">Skills</h3>
          <ul>
            {% for skills in muso.instrument.all %}
              <li><a href="{% url 'instrument_detail' skills.id %}" style = "color: inherit">{{skills}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="col">
          <h3 class="display-7">Gigs</h3>
          <ul>
            {% for gigs in muso.band.all %}
              <li><a href="{% url 'band_detail' gigs.id  %}" style = "color: inherit">{{gigs}}</a></li>
             {% endfor %}
           </ul>
        </div>
      </div>

      {% if muso.album_set.all %}
        <div class="col">
          <h3 class="display-7">Recordings</h3>
          <ul>
            {% for recording in muso.album_set.all %}
              <li><a href="{% url 'album_view' recording.id %}" style = "color: inherit">{{recording}}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    <hr>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <form action="{% url 'artist_edit' muso.id %}">
            <button class="btn btn-secondary" type="submit">Edit</button>
          </form>
        </div>
        <div class="col">
          <form action="{% url 'artist_delete' muso.id %}">
            <button class="btn btn-danger" type="submit">Delete Artist</button>
          </form>
        </div>
      </div>
    </div>

  </div>
{% endblock body %}
