{% extends 'base.html' %}

{% block title %}
  <title>Home</title>
{% endblock title %}

{% block heading %}
  <div class="container-fluid">
    <h1>Angie Hollingworth</h1>
    <h4>S324155</h4>
    <hr>
  </div>
{% endblock heading %}


{% block body %}
  <div class="container">
    <div class="col-9">
      <div class="row">
        <div class="col">
          <img src="https://images.pexels.com/photos/210766/pexels-photo-210766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style= "height: 30em" alt="Punk Image">
        </div>

        <div class="col">
          <h3 class="display-7">Punk Music</h3>
          <p>
            <em>Punk music is the backbone of civilised anarchy...</em>
          </p>
          <p>
            Punk rock music usually consists of short, fast-paced songs,
            stripped down instrumentals and are often very political or more notably
            have anti-establishment themed lyrics. Whilst this site has slightly modern bands as the
            default data, that is not to discredit to earlier punk bands and their music.
          </p>
          <p>
            To have a Punk Rock <strong>Band</strong>, or any band for that matter, you first need <strong>Musicians</strong>.
            To then be able to make punk music, the <em>Musicians</em> need some skills,
            usually vocal or <strong>instrumental</strong>. For the joys of punk music to be shared
            by the masses that are not at a gig, the <em>Band</em> must record an <strong>album</strong>,
            with <em>Musicians from the band, or guests</em>. Finally, every <em>album</em> is made
            up of <strong>songs</strong> for you to enjoy and if you are lucky, there may be a <em>video</em> for you to ponder.
          </p>
        </div>

      </div>
    </div>
  </div>
{% endblock body %}
