{% extends 'base.html' %}

{% block title %}
  <title>{{instrument.instrument_name}}</title>
{% endblock title %}


{% block heading %}
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{instrument.instrument_name}}</h1>
      </div>
    </div>
  </div>
{% endblock heading %}


{% block body %}
  <div class="container">
    <div class="col-8">
      <div class="row">
        <div class="col">
            <img src="{{instrument.image_url}}" class="card-img">
        </div>
        <div class="col">
          <form action="{% url 'instrument_edit' instrument.id %}" method="post">
            {% csrf_token%}
            <table>
              {{ instrument_form.as_table}}
            </table>
            <input type="submit" value="Update" >
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
